* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* fonts */
  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;
  --fw-reqular: 500;
  --fw-bold: 700;
}
/* general styling */
body {
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-200);
  display: grid;
  place-items: center;
  margin: 1rem;
}

/* product styling */
.product {
  --border-radius: 0.5rem;
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  background-color: var(--clr-neutral-100);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: grid;
  max-width: 600px;
}
.product__content {
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}
.product__title {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  color: var(--clr-neutral-900);
}
.product__category {
  text-transform: uppercase;
  font-family: var(--ff-base);
  font-size: 0.6rem;
  letter-spacing: 0.3rem;
}
.product__discreption,
.product__category {
  font-family: var(--ff-base);
  font-weight: var(--fw-reqular);
}
.product__discreption {
  font-size: 0.8rem;
}
/* prices */
/* flex group */
.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
.product__price{
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary-400);
}
.product__original-price{
    font-size: 0.9rem;
    position: relative;
}
.product__original-price::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.4px;
    background-color:  var(--clr-neutral-400);
    left: 0;
    bottom: 49%;
}
/* button */
.button{
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    background: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-size: 0.8rem;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    position: relative;
}
.button::before{
    content: url(images/icon-cart.svg);
    position: absolute;
    left: 3rem;
}
/* media query */
@media (min-width: 600px){
    .product{
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}
